.content{
  .cont1{
    .proBar{
      .container{
        .bar1{
          .b1-right{
            position: relative;
            >div:first-child{
              margin-left: 0;
              width: 8%;
              position: absolute;
              top: 50%;
              margin-top: -1.9%;
              right: 50px;
              button{
                width: 100%;
                background-color: #fff;
                border: 1px solid #e4e4e4;
                color: #e4e4e4;
              }
            }
          }
        }
      }
    }
  }
  >.container{
    background-color: #f6f6f6;
    padding: 0;
    margin-bottom: 100px;
    .list1{
      padding: 30px 40px;
      position: relative;
      border-bottom: 1px solid #e4e4e4;
      >div:first-child{
        font-size: 24px;
        font-weight: bold;
        color: #333333;
      }
      >div:nth-child(2){
        margin-top: 20px;
        font-size: 14px;
        color: #666666;
        padding: 0 15px;
        >div{
          margin-right: 40px;
          span:nth-child(1){
            width: 14px;
            height: 14px;
            background: url("../img/xingzhuang01.png") no-repeat;
          }
        }
        >div:nth-child(2){
          span:nth-child(1){
            background: url("../img/xingzhuang02.png") no-repeat;
          }
        }
        >div:nth-child(3){
          span:nth-child(1){
            background: url("../img/xingzhuang03.png") no-repeat;
          }
        }
      }
      button{
        padding: 15px 40px;
        background-color: #1471c2;
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -1.6%;
        right: 20px;
      }
    }
    .list2{
      padding: 0 50px;
      .slide{
        margin: 50px 0;
        >div{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        ol{
          list-style-type:none;counter-reset:sectioncounter;
          li:before {
            content:counter(sectioncounter) "ã€";
            counter-increment:sectioncounter;
          }
          li{
            font-size: 14px;
            color: #555555;
            margin: 10px 0;
          }
        }
      }
      .slide2{
        padding-bottom: 50px;
        ul{
          li{
            margin: 10px 0;
            font-size: 14px;
            color: #555555;
          }
        }
      }
    }
  }
}
#shenqingWrap{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  .wrap2{
    background-color: #fff;
    width: 650px;
    height: 800px;
    .bj{
      background: url("../img/bj08.png") no-repeat;
      background-size: 100% 100%;
      padding: 25px;
      .cont{
        border: 1px solid #c8c8c8;
        padding: 0 80px;
        >div:first-child{
          position: relative;
          margin: 50px 0;
          >div:nth-child(1){
            text-align: center;
            div:first-child{
              font-size: 30px;
              color: #1471c2;
              font-weight: bold;
            }
            div:last-child{
              font-size: 14px;
              color: #1471c2;
            }
          }
          span{
            display: block;
            position: absolute;
            background: url("../img/icon04.png") no-repeat;
            background-size: 100% 100%;
            width: 16px;
            height: 16px;
            top: -30px;
            right: -60px;
            cursor: pointer;
          }
        }
        >div:first-child::after{
          content: '';
          position: absolute;
          display: block;
          height: 1px;
          width: 60px;
          background-color: #1471c2;
          top: 57%;
          right: 18%;
        }
        >div:first-child::before{
          content: '';
          position: absolute;
          display: block;
          height: 1px;
          width: 60px;
          background-color: #1471c2;
          top: 57%;
          left: 18%;
        }
        >div:nth-child(2){
          form{
            >div{
              display: flex;
              align-items: center;
              margin-bottom: 30px;
            }
            >div:nth-child(1),>div:nth-child(2){
              border: 1px solid #c8c8c8;
              padding: 10px  ;
              span{
                display: inline-block;
                margin-right: 10px;
                width: 16px;
                height: 16px;
              }
              span.num1{
                background: url("../img/icon02.png") no-repeat;
                background-size: 100% 100%;
              }
              span.num2{
                background: url("../img/icon02_sel.png") no-repeat;
                background-size: 100% 100%;
              }
              input{
                border: 0;
                font-size: 16px;
                background-color: transparent;
                width: 100%;
              }
              input::placeholder{
                font-size: 16px;
                color: #888888;
              }
            }
            >div:nth-child(2){
              span.num1{
                background: url("../img/icon03.png") no-repeat;
                background-size: 100% 100%;
              }
              span.num2{
                background: url("../img/icon03_sel.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            >div:nth-child(3){
              width: 100%;
              border: 1px solid #c8c8c8;
              textarea{
                width: 100%;
                padding: 20px;
                font-size: 16px;
                height: 120px;
                resize:none;
                border: 0;
                background-color: transparent;
              }
              textarea::placeholder{
                color: #888888;
                font-size: 16px;
              }
            }
            >div:nth-child(4){
              margin-bottom: 50px;
              span:first-child{
                font-size: 16px;
                color: #888888;
                margin-right: 15px;
              }
              >div:nth-child(2){
                width: 160px;
                height: 60px;
                position: relative;
                background-color: #ebf6ff;
                border: 1px solid #b7dbfa;
                input{
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  position: absolute;
                  cursor: pointer!important;
                }
                button{
                  width: 100%;
                  height: 100%;
                  font-size: 16px;
                  color: #1471c2;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  background-color: transparent;
                }
              }
            }
            >div:nth-child(5){
              width: 100%;
              button{
                width: 100%;
                background-color: #1471c2;
                font-size: 20px;
                color: #ffffff;
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
}